

h1, h2, h3 {
    font-family: "Trebuchet MS", Tahoma, Arial, Sans-serif;
    color: #ee5647;
}



/* Header
--------------------------------------------------*/
header h1 {
    color: #cf0000;
    font-weight: bold;
    padding: 0 0 0 13px;
}

#header-wrap {
    position: absolute ;
    top: 138px;
}

#nav-top {
    padding-top: 10px;
}


/* Footer
--------------------------------------------------*/
footer { 
    background: #000;
    color: white;
    padding: 14px 0 1px 10px;
}


/* Navigation
--------------------------------------------------*/
/* nav { */
/*     background-color: transparent; */
/*     padding: 0 0.7em; */
/*     white-space: nowrap; */
/* } */

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 1em;
}


a:link,  a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
   color: #ee5647;
}





  
/* Layout
__________________________________________________*/


/* Container
--------------------------------------------------*/
.container {

}
