body {
    overflow-y: scroll;
}

h1, h2, h3 {
    font-family: "Trebuchet MS", Tahoma, Arial, Sans-serif;
    /* color: #ee5647; */
    color: black;
}

.box {
    background-color: #B8B8B8 ;
}


/* Header
--------------------------------------------------*/
header h1 {
    position: relative;
    top: 10px;
    color: #cf0000;
    font-weight: bold;
    padding: 0px 0 0 15px;
}

#header-wrap {
    display:inline-block;
    background-color: transparent;
    margin-top: -7em;
}

#status-bar {
    position:relative;
    top: -8em;
    text-align: right ;
    background-color: transparent;
    color: white;
}

#nav-top {
    position: relative;
    top: 1.8em;
    padding-left: 20px;
    padding-right: 0px;
    margin-left:0px;
}


div.content-wrap {
    position: relative;
    padding-top: 0px;
    padding-left: 18px;
}


/* div.buddha-china { */
/*     margin-buttom: 100px; */
/*     width: 50%; */
/* } */

/* p#anectode { */
/*     text-align: center; */
/* } */


div#sidebar {
    margin-top: 2em;
 
}


/* Footer
--------------------------------------------------*/
footer {
    background: #000;
    color: white;
    padding: 14px 0 1px 10px;
}


/* Navigation
--------------------------------------------------*/
/* nav { */
/*     background-color: transparent; */
/*     padding: 0 0.7em; */
/*     white-space: nowrap; */
/* } */

.wolfram-alpha {
    width: 50%;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover, a:active {
   color: #ee5647;
}
  





