* { margin: 0; padding: 0; outline: 0; }

body {
    background-color: #fff;
    padding: 0 0 0px 0;
}

h1, h2, h3 {
    font-family: "Trebuchet MS", Tahoma, Arial, Sans-serif;
    color: #ee5647;
}


img {
    position: relative;
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    display: block;
    width: 80px;
    color: #fff;
    background-color: #120d0b;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: bold;
}

a:hover, a:active {
      color: #ee5647;
}

  
/*------------------ Layout ---------------- */

#container {
    width: 900px;
    margin-left: 5px;
    margin-top: 30px;
}

#header {
    width: 100%;
    background-color: transparent;
    margin: 125px 0 15px 15px;
}

#header h1 {
    color: #CC0000;
    text-align: left;
    font-size: 350%;
}

#content-wrap {
    /* position:relative; */
    /* float: left; */
    /* width: 900px; */
    /* display: inline; */
    /* margin-bottom: 10px; */
}

#main {
    width: 600px;
    float: left;
    color: green;
    background: #fff;
    text-align: center;
}

#sidebar {
    width: 300px;
    float:right;
    display: inline;
    background: #99CCFF;
}

#sidebar ul {
    list-style: none;
    padding-left: 15px;
    margin: 5px;
}

#footer {
    position: relative;
    top: 10px;
    clear: both;
    color: #ef5e50; 
    background: #000;
    padding: 10px;
}

#banner {
    position: absolute;
    top: 10px;
    z-index: -1;

}

#top_nav {
    position: relative;
    top: -8px;
    margin: 0 0 50px 0;
}

#top_nav li {
    float: left;
}
