

<div class="span-24 form">
  <%= image_tag("wa-logo.png") %>

  <div id="wolfram-alpha">
    <script type="text/javascript" id="WolframAlphaScriptf2b41808a36363e7279128bf0b6104f1" src="http://www.wolframalpha.com/widget/widget.jsp?id=f2b41808a36363e7279128bf0b6104f1"></script>
    <br /><br />
  </div>
</div>



