<h1>I am the Index </h2>

<table>
<%= will_paginate %>

<tr class="caps">
<th> Name </th>
<th> Email</th>
</tr>

<% @users.each do |user| %>

<tr>
<td><%= user.name %></td>
<td><%= user.email %></td>
</tr>

<% end %>

</table>
