
<div id="recent-software">
  <h3 class="caps"><%= t("sidebar.recent-posts")%></h3>
  <div class="box">

    <span class="quiet">
      <% for post in @sidebar_posts %>
	<%= link_to  post.title.truncate(20), post %><br />
	<% end %>
    </span>

  </div>
</div>

<div id="recent-reviews" class="prepend-top">
  <h3 class="caps">Categories</h3>
  <div class="box">

    <span class="quiet">
      <% for category in @sidebar_categories %>
	<%= link_to category.name, category %> (<%= category.posts.count %>) <br />
      <% end %>

    </span>
  </div>
</div>




