
  <div id="recent-software">
    <h3 class="caps">Recent Softwares</h3>
    <div class="box">
      <a href="#" class="quite">Debugger</a>
    </div>
  </div>

  <div id="recent-reviews" class="prepend-top">
    <h3 class="caps">Recent Reviews</h3>
    <div class="box">
      <span class="quiet">Thor reviewed Softwares</span>
    </div>
  </div>

