
<h3><%= "Willkommen" || @title %></h3>

Wir entwickeln Web-Anwendungen mit Ruby und Rails und halten uns
streng an Grundsätze für

<%= link_to '"Agile Softwareentwicklung."', "http://agilemanifesto.org/iso/de/" %>


 <br /><br />


