

  <h3>Willkommen</h3>

 
  <div class="span-12 prepend-3" >
    <%=raw RedCloth.new('Wir entwickeln  auf Basis der Programmiersprache
    Ruby und deren populären Framework "Ruby on Rails" robuste
    Webapplikationen mit optisch anspuchsvollen Benutzerschnittstellen.
    Unser Tean').to_html %> 
    <br /><br />
    
 </div> 
 



