
<h3><%= t("greet.welcome") || @title %></h3>

RubyLabs entwicklt Web Anwendungen mit Ruby und Ruby on Rails nach Richtlinien
und Empfehlungen für <%= link_to '"Agile Softwareentwicklung."',
			 "http://agilemanifesto.org/iso/de/" %>
 <br /><br />


