
<h3><%= "Willkommen" || @title %></h3>

Wir entwickeln Web-Anwendungen mit Ruby und Rails und halten uns
streng an Grundsätze für

<%= link_to '"Agile Softwareentwicklung."',
    "http://agilemanifesto.org/iso/de/" %>

 * wir arbeiten eng mit unseren Clieneten zusammen um die Prioritäten
 festzulegen und Lösungen für Probleme zu finden.

 * 


 <br /><br />


