
<h3><%= t("greet.welcome") || @title %></h3>

Ich entwickle Web Anwendungen mit Ruby und Ruby on Rails und halte mich streng
an 
<%= link_to '"Agile Softwareentwicklung."',
    "http://agilemanifesto.org/iso/de/" %>
 <br /><br />


