
<div class="span-24"><br /> 
  <h3><%= @title %></h3>
  <div class="span-12">

    Ich bin am 15. April 1959 in Teheran geboren und ging bis 1976 in Teheran,
    Hastings und Nottingham zur Schule. Nach dem Abitur und einer anschließend
    4 jährigen beruflichen Tätigkeit in Mannheim immatrikulierte ich mich 1992 an
    Ludwig-Maximilians-Universität München für das Studium des Fachs Physik.
    1993 wechselte ich zu Karls-Ruprecht-Universität Heidelberg wo ich 1998
    das Studium abschloss und wurde den akademischen Grad Diplom verliehen.<br/><br/>

    Meine berufliche Laufbahn als Programmierer und Software-Entwickler ist
    auf Bekannschaften zurückzuführen, die ich während meines Studiums mit Tux
    und Duke machte. Es war in der Zeit als Internet noch nicht kommerzialisiert
    und dessen zivile Nutzung haupsächlich Wissenschaftlern und Studenten an
    den Universitäten vorbehalten war. <br/><br/>

    Leider konnten Tux und Duke sich mit meinem SHARP MZ-700 nicht vertragen,
    so dass ich fast 3 Jahre warten musste bis ich mir ein 386er Rechner
    leisten konnte mit dem sich Tux und Duke nach anfänglichen Schwierigkeiten
    und nicht ohne Mühe schließlich eine "platonische Freundschaft" schloßen.
    <br/><br/>
    
    Tux und Duke wuchsen schnell und wurden innerhalb von wenigen Jahren nach
    ihrer Geburt sehr populär. Mit der Kommerzialisierung Internets stieg auch
    ihre Berümtheit repide an. Im Rahmen der "neuen Ökonomie" enstanden viele
    "Dotcom-Unternehmen" und damit die Nachfrage nach Duke's JAVA und Bohnen.

    Obwohl die "Dotcom-Blase" längst geplatzt ist und die "Penny-Stocks" fast
    verschwunden sind, genießt Tux seine Reputation als ein sehr rubustes,
    schnelles und leistungsfähiges Betriebssystem und Duke freut sich weiterhin
    seinen starken JAVA aus seinem "JAVA cup."
    <br /><br />

    Meine Freundschaft mit Duke hat sich aber inzwischen an Intensität
    verloren, weil ich seit über einem Jahr mehr und mehr mit meinen neuen
    Freunden "Ruby" aus Japan und "Rails" aus Däneark unterwegs bin. Wie es
    aussieh wird sich meine Freundschaft mit diesen sich aus dem folgenden
    einfachen Grund intensivieren: Es Macht Spass mit Ruby und Rails.
    <br/> <br/>

    <hr />
  </div>

  <div class="span-12">
    
  </div>
  
</div>

