
<div class="span-24"><br />
  <div class="span-17">
    <h3><%= @title %></h3>
    <div class="span-12">
      <address>
	Ruby Labs Software. <br />
	Untere Clignetstr. 8<br />
	68167 Mannheim <br />
	Germany <br /><br />
	Telefon: +49-621-3363702<br />
	Mobile:  +49-174-2001606<br />
	Email: <%=raw auto_link_email_addresses("shahram@rubylabs.de") %><br />
	Web: <%= auto_link_urls("http://rubylabs.heroku.com") %>
      </address>
    </div>
    <hr />
    <h3>  Wie sie uns finden</h3>
  </div>
</div>
