
<div class="span-24 content-wrap">
  <h2>Editing post</h2>
  <div class="span-17">
    <%= render 'form' %>

    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %><br /><br />
  </div>
</div>
