<%= form_tag_remote :url => {:action => 'search' }, :update => 'photos' %>
<fieldset>
  <label for="tags">Tags:</label>
  <%= text_field_tag 'tags' %>
  <%= submit.tag 'Find' %>
</fieldset>

<div id="photos"></div> 

<%= end_form_tag %>
