<h1>Flickr goes here</h1>

<%=  form_tag  :url => {:action => 'search' } , :method => :get, :remote => true do %>
<fieldset>
  <%= text_field_tag "tags" %>
  <%= submit_tag 'Find' %>
</fieldset>



<div id="photos"></div>

<% end %>


