<h1>Flickr goes here</h1>

<div id="span-17 photos">
<p class="thumbs"> 
 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a> 
<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>	
</p>


</div>
<%= debug(params) if Rails.env.development? %>
