

<div class="span-24 last">
  <footer>
    <div style="height: 30px; text-align: center;" class="alt">
     Copyright (c) 2010-2011 Ruby Labs Software. All rights reserved (v 0.0.1)
    </div>
  </footer>
  <br/>
</div>

